.Component1{
  border: 8px solid #dddddd;
}
.Component1 table {
    font-family: arial, sans-serif;
    width: 100%;
    border-collapse: collapse;
    table-layout: fixed;
   }
  .Component1 td, th {
   
    text-align: left;
    border-bottom: 1px solid #dddddd;

  }
  .tralign{
    text-align: right;
font-size: x-small;
    color: rgb(233, 46, 46);
  }
  .displayright{
    float:right;
  }
  .progress{

    background-color: dodgerblue;
    color: white;
    text-align: center;
    border: 1px solid dodgerblue;
    border-radius:2px ;
    padding: 5px;
  }
  .date{
    color:rgb(228, 37, 37);
    font-size: x-small;
    margin-right: 10px;
  }